// Clearfix
// ──────────────────────────────────────────────────────

.app-clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}


// Flex
// ──────────────────────────────────────────────────────

.app-flex-group {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.app-flex-1 {
  flex: 1;
}


// Hidden
// ──────────────────────────────────────────────────────

.app-hidden {
  &--dark {
    .color_scheme_dark & {
      display: none;
    }
  }
  &--light {
    body:not(.color_scheme_dark) & {
      display: none;
    }
  }
}

.app-hidden {
  &--mobile {
    @media (max-width: $mobile-w) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  &--pc {
    @media (min-width: $mobile-w - 1px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
}