<load target="nav.scss" vars="RxpFlexTheme::$variables" />

{@
    $is_notifications = $tab == 'notifications';
    $is_mypage = $act == 'dispMemberInfo';
    $is_custom_page = $is_notifications && is_mypage && is_menu;
}

<nav class="app-header-nav" cond="!$global_menu->list && \Rhymix\Framework\Session::isAdmin()">
    <ul>
        <li><a href="{getUrl('','module','admin','act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}" target="_blank">메뉴가 지정되지 않음. 레이아웃 설정 바로가기</a></li>
    </ul>
</nav>

<nav class="app-header-nav" cond="$global_menu && $global_menu->list">
    <ul>
        <!-- prettier-ignore -->
        <block loop="$global_menu->list=>$key1,$val1">
            {@
                $is_selected = $val1['selected'] && !$is_custom_page
            }
            <li  class="active"|cond="$is_selected" is-divider|cond="$val1['link'] == '/'">
                <!-- prettier-ignore -->
                <a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'" class="app-header-nav-icon app-tooltip"|cond="$val1['icon']" title="{strip_tags($val1['link'])}"|cond="$val1['icon']">
                    <ion-icon cond="$val1['icon'] && $is_selected" name="{$val1['icon']}"></ion-icon>
                    <ion-icon cond="$val1['icon'] && !$is_selected" name="{$val1['icon']}-outline"></ion-icon>
    
                    <span cond="!$val1['icon']">{$val1['link']}</span>
                    <ion-icon cond="$val1['list']" name="chevron-down-outline" class="app-header-nav-more"></ion-icon>
                </a>
    
                <ul cond="$val1['list']" class="app-header-nav-child">
                    <!-- prettier-ignore -->
                    <li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']" is-divider|cond="$val2['link'] == '/'">
                        <!-- prettier-ignore -->
                        <a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">
                            <ion-icon cond="$val2['icon'] && $is_selected" name="{$val2['icon']}"></ion-icon>
                            <ion-icon cond="$val2['icon'] && !$is_selected" name="{$val2['icon']}-outline"></ion-icon>
                            <span>{$val2['link']}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </block>
        
        <li cond="$layoutConfig['header_search'] === 'Y'">
            <a onclick="toggleDialog('app-search-form')">
                <ion-icon name="search-outline"></ion-icon>
            </a>
        </li>

        <include target="../sidebar/sidebar-toggle.html" />
    </ul>
</nav>
