<load target="confirm.scss" vars="RxpFlexTheme::$variables" />
<load target="confirm.js" type="body" />

<div id="app-confirm" class="app-confirm">
  <div class="app-confirm__container">
    <div class="app-confirm__box">

      <div class="app-confirm__body">
        <ion-icon 
        class="app-confirm__icon" name="information-circle-outline"></ion-icon>
        <div class="app-confirm__title"></div>
        <div class="app-confirm__description"></div>
      </div>

      <div class="app-confirm__footer">
        <button type="button"></button>
        <button type="submit"></button>
      </div>
    </div>
  </div>
</div>