root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{css,scss,json,js,jsx,ts,tsx,vue,gql,graphql,yml,yaml}]
indent_size = 2

[*.{html,vue}]
max_line_length = 120
