<div cond="$rd_idx==0" id="recomment-write" class="app-comment-write app-comment-write__reply" style="display: none">
  <form action="./" method="post" onsubmit="return procFilter(this,insert_comment)">
    <input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
    <input type="hidden" name="parent_srl" value="" />
    <input type="hidden" id="editor-recomment" name="content"></input>
    
    <div class="app-comment-write__name">
      <block cond="$is_logged">
        {$logged_info->nick_name}
      </block>
      
      <block cond="!$is_logged">
        <input type="text" name="nick_name" placeholder="{$lang->writer}" class="app-input" />
        <input type="password" name="password" placeholder="{$lang->password}" class="app-input" />
      </block>
    </div>
    
    <div class="app-comment-write__content">
      <textarea id="temp-recomment" style="resize: none"></textarea>

      <script type="text/javascript">
        function setTextareaReplaceReComment() {
          var str = document.getElementById("temp-recomment").value;
          str = "<p>" + str.replace(/(?:\r\n|\r|\n)/g, "</p>\r\n<p>") + "</p>";
          str = str.replaceAll("<p></p>", "<p>&nbsp;</p>");
          document.getElementById("editor-recomment").value = str;
        };
      </script>
    </div>

    <div class="app-comment-write__footer">
      <div class="app-comment-write__footer-item" cond="$mi->secret=='Y'">
        <input type="checkbox" name="is_secret" value="Y" id="is_secret_recmt" class="app-toggle" />
        <label for="is_secret_recmt">비밀</label>
      </div>

      <div class="app-comment-write__footer-item">
        <a id="use-editor" class="app-link" href="">에디터</a>
      </div>

      <div class="app-comment-write__footer-item" cond="$is_logged && $mi->comment_sticker == 'Y'">
        <a id="recomment-sticker" class="app-link" href="javascript:;">
          <ion-icon name="happy-outline"></ion-icon>
        </a>
      </div>

      <div class="app-divider"></div>

      <button type="button" class="app-comment-write-cancel" onclick="jQuery('#recomment-write').toggle().parent().find('#reComment').focus();return false">{$lang->cmd_cancel}</button>
      <button type="submit" onclick="setTextareaReplaceReComment()" class="app-comment-write-submit">{$lang->cmd_registration}</button>
    </div>
  </form>

  {@ // 스티커 모달 }
  <div cond="$mi->comment_sticker === 'Y'" class="app-sticker-recomment">
    <include target="comment-sticker.html" />
  </div>
</div>