<load target="../../assets/js/autosize.min.js" />
<load target="../../assets/js/sticker.js" cond="$mi->comment_sticker == 'Y'" />
<load target="../../assets/css/comment/comment-write.scss" vars="$rxpFlexTheme->variables" />

<script>
  // XE jQuery 호환성
  var $ = jQuery;
  
  jQuery(function($) {
    autosize($('textarea'));
  });

  // 댓글에 답글 작성
  var reComment = function(doc_srl, cmt_srl, edit_url) {
    var tmp = $('#recomment-write').eq(0);
    
    tmp.find('input[name=error_return_url]').val('/' + doc_srl);
    tmp.find('input[name=mid]').val(current_mid);
    tmp.find('input[name=document_srl]').val(doc_srl);
    
    $('#comment_' + cmt_srl).find('.app-comment-item__body').append(tmp);
    tmp.show().find('input[name=parent_srl]').val(cmt_srl);
    
    tmp.find('#use-editor').attr('href', edit_url);
    tmp.find('textarea').focus();
    tmp.find('#recomment-sticker').attr('onclick', 'loadStickerList(undefined, '+cmt_srl+');');
    tmp.find('.app-sticker').addClass('app-sticker-closed');
    tmp.find('.app-sticker > .app-sticker-header > .sticker_pack, ed.sticker > .app-sticker-body').html('');
  }

  // Textarea replace
  String.prototype.replaceAll = function(searchStr, replaceStr) {
    var temp = this;
    while (temp.indexOf(searchStr) != -1) {
      temp = temp.replace(searchStr, replaceStr);
    }
    return temp;
  }
</script>

<script type="text/javascript" cond="$mi->comment_write_type !== 'wysiwyg'">
  function setTextareaReplaceComment() {
    var str = document.getElementById("temp-{$oDocument->document_srl}").value;
    str = "<p>" + str.replace(/(?:\r\n|\r|\n)/g, "</p>\r\n<p>") + "</p>";
    str = str.replaceAll("<p></p>", "<p>&nbsp;</p>");
    document.getElementById("editor-{$oDocument->document_srl}").value = str;
  };
</script>

{@ // 기본 댓글 작성 }
<!--@if($grant->write_comment && $oDocument->isEnableComment())-->
<form  action="./" method="post" onsubmit="return procFilter(this, insert_comment)" id="write_comment" class="app-comment-write">
  <input type="hidden" name="mid" value="{$mid}" />
  <input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
  <input type="hidden" name="comment_srl" value="" />

  <div class="app-comment-write__name">
    <block cond="$is_logged">
      {$logged_info->nick_name}
    </block>
    
    <block cond="!$is_logged">
      <input type="text" name="nick_name" placeholder="{$lang->writer}" class="app-input" />
      <input type="password" name="password" placeholder="{$lang->password}" class="app-input" />
    </block>
  </div>

  <div class="app-comment-write__content">
    <div cond="!$is_logged" class="tw-flex tw-mb-3">
      
    </div>
    
    <div class="app-comment-write__editor">
      <!--@if($mi->comment_write_type == 'wysiwyg')-->
      <div>
        <input type="hidden" name="content" value="" />
        {$oDocument->getCommentEditor()}
      </div>
      <!--@else-->
      <textarea id="temp-{$oDocument->document_srl}" class="app-textarea" style="resize: none"></textarea>
      <textarea id="editor-{$oDocument->document_srl}" name="content" style="display: none;"></textarea>
      <!--@end-->
    </div>
  </div>

  <div class="app-comment-write__footer">
    <div cond="$mi->secret=='Y'" class="app-comment-write__footer-item">
      <input type="checkbox" name="is_secret" value="Y" id="is_secret" class="app-toggle" />
      <label for="is_secret">비밀</label>
    </div>

    <div class="app-comment-write__footer-item">
      <!--@if($mi->comment_write_type === 'wysiwyg')-->
      <a class="app-link" href="#" onclick="$.cookie('editor_type', 'textarea');location.reload();return false">텍스트</a>
      <!--@else-->
      <a class="app-link" href="#" onclick="$.cookie('editor_type', 'wysiwyg');location.reload();return false">에디터</a>
      <!--@end-->
    </div>

    <div class="app-comment-write__footer-item" cond="$is_logged && $mi->comment_sticker == 'Y'">
      <a class="app-link" href="javascript:;" title="스티커" onclick="loadStickerList();">
        <ion-icon name="happy-outline"></ion-icon>
      </a>
    </div>
    
    <div class="app-divider"></div>

    <button type="submit" onclick="setTextareaReplaceComment()" class="app-comment-write-submit">{$lang->cmd_registration}</button>
  </div>

  {@ // 스티커 모달 }
  <div cond="$mi->comment_sticker === 'Y'" class="app-sticker-comment">
    <include target="comment-sticker.html" />
  </div>
  
</form>
<!--@else-->

<div class="tw-text-center tw-py-8 tw-px-4">
  <ion-icon name="finger-print-outline" class="tw-text-gray-600 tw-text-2xl tw-mb-4"></ion-icon>
  <div class="tw-text-black tw-font-bold tw-text-sm tw-mb-2">{$lang->write_comment}</div>
  <div class="tw-text-sm tw-text-gray-700">{$lang->msg_not_permitted}</div>
</div>

<!--@end-->

{@ // 대댓글 작성 }
<include target="comment-reply.html" />