<load target="article-toolbar.scss" vars="$rxpFlexTheme->variables" />

<div class="app-article-toolbar">
  <div class="app-container">
    <div class="app-article-toolbar__container">
      {@ // 추천 }
      <include target="article-vote/article-vote.html" />

      <a href="#comment" class="app-article-toolbar__item app-tooltip" title="{$lang->comment}">
        <div class="app-icon">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </div>

        <span>{$lang->comment} {$oDocument->getCommentcount()}개</span>
      </a>
    
      <div class="app-flex-1"></div>
    
      {@ // 스크랩 }
      <a cond="$is_logged" title="스크랩" href="javascript:doCallModuleAction('member','procMemberScrapDocument',{$document_srl})" class="app-article-toolbar__item">
        <div class="app-icon">
          <ion-icon name="bookmark-outline"></ion-icon>
        </div>
      </a>
    </div>
  </div>
</div>
