.app-article-file {
  .app-article-file__head {
    padding: 0.25rem 1rem 0.75rem;
    margin: 0 -0.5rem 0.5rem;
    border-bottom: 1px solid $color-gray-200;
    border-bottom-color: var(--color-gray-200);

    font-weight: 700;
  }

  
}