$header-height: 52px;
$toolbar-height: 48px;
$toolbar-gap: 10px;

@mixin mobile {
  @media (max-width: $mobile-w) {
    @content;
  }
}

.app-article-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 90;
  width: 100%;
  height: $toolbar-height;

  @include mobile() {
    bottom: $header-height + $toolbar-gap;
    bottom: calc(env(safe-area-inset-bottom) + #{$header-height + $toolbar-gap});
  }

  & > .app-container {
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.app-article-toolbar__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  background-color: $color-background;  
  background-color: var(--color-background);
  
  border: 1px solid $color-gray-200;
  border-color: var(--color-gray-200);
  border-bottom: none;
  border-radius: $border-radius-4 $border-radius-4 0 0;
  box-shadow: rgba(black, 0.1) 0 4px 12px;

  @include mobile {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 1px solid $color-gray-200;
    border-color: var(--color-gray-200);
    border-radius: $border-radius-4;

    .color_scheme_dark & {
      border-color: $color-gray-100;
      border-color: var(--color-gray-100);
    }
  }
  
}

.app-article-toolbar__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
  
  .app-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    color: $color-gray-900;
    color: var(--color-gray-900);

    & > ion-icon {
      font-size: 1.25rem;
      --ionicon-stroke-width: 2.5rem;
    }

    &.app-like > ion-icon {
      font-size: 1.5rem;
    }
  }

  & > span {
    margin-left: 2px;
    color: $color-gray-800;
    color: var(--color-gray-800);
    font-size: 0.875rem;
    font-weight: 500;
  }

  &:hover {
    & > .app-icon {
      color: $color-primary;
      background-color: rgba($color-primary, 0.1);
    }
  }
}