.app-article {
  display: flex;
  flex-direction: column;
}

.app-article-title {
  margin-bottom: 1rem;
  
  .app-article-category {
    color: $color-gray-600;
    color: var(--color-gray-600);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s ease;
    &:hover {
      color: $color-gray-900;
      color: var(--color-gray-900);
    }
  }
  h1 {
    width: 90%;
    color: $color-black;
    color: var(--color-black);
    font-size: 2rem;
    font-weight: 700;
    word-break: keep-all;
    line-height: 1.5;
    margin-top: 0.25rem;
    // margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: -.04rem;

    @media (max-width: $mobile-w) {
      font-size: 1.5rem;
      margin-left: 0;
    }
  }
}

.app-article-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5rem;
  color: $color-gray-700;
  color: var(--color-gray-700);
  font-size: 0.875rem;
  letter-spacing: -0.04rem;

  .app-divider {
    margin: 0 0.5rem;
  }

  & > * {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  a {
    color: $color-black;
    color: var(--color-black);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover {
      color: $color-gray-900;
      color: var(--color-gray-900);
    }
  }
}

.app-article-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  
  & > a {
    cursor: pointer;
    color: $color-gray-700;
    color: var(--color-gray-700);
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 1rem;
    transition: color .2s ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $color-gray-900;
      color: var(--color-gray-900);
      text-decoration: none !important;
    }
  }
}


// .app-article-toolbar {
//   display: flex;
//   align-items: center;
//   margin-bottom: 3rem;

//   .app-divider {
//     flex: 1;
//   }
// }

// .app-article__scrap {
//   padding: 2px 0 0;
//   margin-right: 1rem;
//   & > ion-icon {
//     font-size: 1.25rem;
//   }
// }


.app-article-tags {
  list-style-type: none;
  padding: 0;
  margin: 2em 0 0;

  & > li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}