<!--// PHP Variables -->
<include cond="!$rxpFlexTheme" target="_config.php" />

{@
    RxpFlexTheme::init($layout_info);
    
    $rxpFlexTheme = new rxpFlexTheme();
    $layoutConfig = RxpFlexTheme::getConfig($layout_info);
    $rxpFlexTheme->variables = RxpFlexTheme::$variables;
}

<!--@if($layout_info->font_family === 'noto_sans')-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
<!--@endif-->

{@ // JS }
<load target="assets/js/jquery.cookie.js" type="body" />

{@ // CSS }
<load target="assets/css/base.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/typography.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/layout.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/input.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/checkbox.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/toggle.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/button.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/link.scss" vars="RxpFlexTheme::$variables" />
<load target="assets/css/utils.scss" vars="RxpFlexTheme::$variables" />

{@ // COMPONENTS }
<include target="components/common/confirm/confirm.html" />
<include target="components/common/toast/toast.html" />
<include target="components/common/dropdown/dropdown.html" />
<include target="components/common/dialog/dialog.html" />
<include target="components/common/select/select.html" />

{@ // 외부 라이브러리 }
<script type="module" src="https://unpkg.com/ionicons@5/dist/ionicons/ionicons.esm.js"></script>
