{@ // 검색창 }
<div id="app-board-search" class="app-dialog" title="{$lang->cmd_search}">
  <div class="app-dialog-container">
    <div class="app-dialog-box">
      <div class="app-dialog-header">
        <button class="app-dialog-close">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        
        <h3>{$lang->cmd_search}</h3>
      </div>

      <form action="{getUrl()}" method="get" onsubmit="return procFilter(this, search)" no-error-return-url="true">
        <input type="hidden" name="vid" value="{$vid}" />
        <input type="hidden" name="mid" value="{$mid}" />
        <input type="hidden" name="category" value="{$category}" />
        <div class="app-dialog-body">
          <div class="app-select app-search__target app-expand">
            <select name="search_target" placeholder="검색 타입">
              <option loop="$search_option=>$key,$val" value="{$key}" selected="selected"|cond="$search_target==$key">{$val}</option>
            </select>
          </div>

          <input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" placeholder="검색" class="app-input app-expand" />
        </div>

        <div class="app-dialog-footer">
          <button type="button" onclick="toggleDialog('app-board-search')">닫기</button>
          <button type="submit">검색</button>
        </div>
      </form>
    </div>
  </div>
</div>