<div class="app-tools">
  <load target="tools.scss" vars="$rxpFlexTheme->variables" />
    
  <div class="app-tools__check-all" cond="$grant->manager">
    <input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true });" id="check-all" class="app-checkbox" title="Check All" />
    <label for="check-all"></label>
  </div>

  <div cond="$grant->manager" class="app-button-group">
    <a class="app-button app-sm app-tooltip" title="{$lang->cmd_management}" cond="$grant->manager" href="{getUrl('act','dispBoardAdminBoardInfo')}">
      <ion-icon name="settings-outline"></ion-icon>
    </a>
  
    <a class="app-button app-sm  app-tooltip" title="{$lang->cmd_manage_document}" cond="$grant->manager" href="{getUrl('','module','document','act','dispDocumentManageDocument')}" onclick="popopen(this.href,'manageDocument'); return false;">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </a>
  </div>

  <!--@if($category_list && $module_info->category_style === 'select')-->
  <div class="app-select">
    <select onchange="if(this.value) location.href=(this.value);">
      <option loop="$cate_list=>$key,$val" selected|cond="$category == $val->category_srl" value="{getUrl('category', $val->category_srl,'document_srl','', 'page', '')}">
        {$val->title}
      </option>
    </select>
  </div>
  <!--@end-->

  <div class="app-divider">
  </div>

  {@ // 글쓰기 버튼 }
    <a cond="$grant->write_document" href="{getUrl('act','dispBoardWrite','document_srl','')}" class="app-write-button app-tooltip" title="{$lang->cmd_write}">
      <ion-icon name="add-outline"></ion-icon>
    </a>
</div>