<load target="article-header.scss" vars="$rxpFlexTheme->variables" />

<div class="app-article-header">
  <a class="app-article-header__back" href="{getUrl('category', '', 'document_srl', '', 'page', '')}">
    <!-- <ion-icon name="chevron-back-outline"></ion-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </a>

  <div class="app-article-header__title">{$oDocument->getTitle()}</div>

  <include target="article-edit.html" />
</div>