$bar-height: 52px;

@mixin mobile {
  @media (max-width: $mobile-w) {
    @content;
  }
}


.app-comment-write__wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;

  & > .app-container {
    height: 100%;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.app-comment-write {
  background-color: $color-background;
  background-color: var(--color-background);

  border: 1px solid $color-gray-200;
  border-color: var(--color-gray-200);
  border-bottom: none;
  border-radius: $border-radius-4 $border-radius-4 0 0;
  
  // transition: border-color .2s ease, background-color .2s ease;

  // &:focus-within {
  //   border-color: $color-gray-600;
  //   border-color: var(--color-gray-600);
  // }

  @include mobile {
    border-left: none;
    border-right: none;
  }

  &__name,
  &__target {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0;
    font-size: 0.875rem;
    font-weight: 600;

    &__text {
      display: inline-block;
      padding: 0.25rem;
      border-radius: $border-radius-1;

      color: $color-primary;
      background-color: rgba($color-primary, 0.1);

      & > strong {
        .color_scheme_dark & {
          color: $color-black;
          color: var(--color-black);
        }
      }
    }

    & > .app-input {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: $mobile-w) {
        flex: 1;
        width: 100%;
        min-width: 0;
      }
    }
  }

  &__content {
    font-size: 12px;

    textarea {
      display: block;
      width: 100%;
      height: $bar-height;
      // min-height: $bar-height;
      padding: 1rem 1rem 0.5rem 1rem;
      outline: none;
      border: none;
      box-sizing: border-box;
      color: $color-black;
      color: var(--color-black);
      background-color: rgba(0, 0, 0, 0);

      font-size: 16px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: $bar-height;
    padding-left: 1rem;
    padding-right: 1rem;

    .app-divider {
      flex: 1;
    }

    & > .app-link {
      color: $color-gray-600;
      color: var(--color-gray-600);
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      margin-right: 1rem;
      transition: color .2s ease;
      &:hover {
        color: $color-gray-700;
        color: var(--color-gray-700);
      }
      &:active {
        color: $color-black;
        color: var(--color-black);
      }
    }

    .app-comment-write__footer-item {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      .app-link {
        line-height: 18px;
      }
    }
  }
}

.app-comment-write-cancel,
.app-comment-write-submit {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1.25rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 999px;
  border: none;
  outline: none;
  transition: .2s ease;
}

.app-comment-write-cancel {
  margin-right: 8px;
  color: $color-gray-600;
  color: var(--color-gray-600);
  background-color: transparent;

  &:hover {
    background-color: $color-gray-100;
    background-color: var(--color-gray-100);
  }
  &:active {
    background-color: $color-gray-200;
    background-color: var(--color-gray-200);
  }
}

.app-comment-write-submit {
  flex: 0 0 auto;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1.25rem;
  color: $color-text-primary;
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: 600;
  background-color: $color-primary;
  border-radius: 999px;
  border: none;
  outline: none;
  transition: .2s ease;

  &:hover {
    background-color: mix(black, $color-primary, 10%);
  }
  &:active {
    background-color: mix(black, $color-primary, 20%);
  }

  &[disabled] {
    background-color: $color-gray-500;
    background-color: var(--color-gray-500);
  }
}


.app-comment-write__wrap {
  // transition: .3s ease;

  &:not(.active) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(50%);
  }
}