<ul class="app-sidebar-nav" cond="$sidebar_menu->list">
  <!-- prettier-ignore -->
  <li loop="$sidebar_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']" is-divider|cond="$val1['link'] == '/'">
      <div class="app-sidebar-nav-item">
          <!-- prettier-ignore -->
          <a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'" title="{$val1['link']}">
              <ion-icon cond="$val1['icon'] && $val1['selected']" name="{$val1['icon']}"></ion-icon>
              <ion-icon cond="$val1['icon'] && !$val1['selected']" name="{$val1['icon']}-outline"></ion-icon>
              <span>{$val1['link']}</span>
          </a>

          <ion-icon cond="$val1['list']" name="chevron-down-outline" class="app-sidebar-nav-more"></ion-icon>
      </div>

      <!-- prettier-ignore -->
      <div cond="$val1['list']" class="app-sidebar-nav-child"|cond="!$val1['selected']" class="app-sidebar-nav-child active"|cond="$val1['selected']">
          <ul>
              <!-- prettier-ignore -->
              <li loop="$val1['list'] => $key2, $val2" class="active"|cond="$val2['selected']" is-divider|cond="$val2['link'] == '/'">
                  <!-- prettier-ignore -->
                  <a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">
                      <ion-icon cond="$val2['icon']" name="{$val2['icon']}"></ion-icon>
                      <span>{$val2['link']}</span>
                  </a>
              </li>
          </ul>
      </div>
  </li>
</ul>

<div cond="$sidebar_menu->list" class="app-sidebar__divider"></div>