<ul class="app-sidebar-nav">
    <li cond="$logged_info->is_admin == 'Y'">
        <div class="app-sidebar-nav-item">
            <a href="{getUrl('', 'module', 'admin')}" target="_blank" title="{$lang->cmd_management}">
                <ion-icon name="settings-outline"></ion-icon>
                <span>{$lang->cmd_management}</span>
            </a>
        </div>
    </li>

    <li cond="$grant->manager">
        <div class="app-sidebar-nav-item">
            <a
                href="{getUrl('','module','admin','act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}"
                onclick="window.open(this.href);return false;"
            >
                <ion-icon name="hammer-outline"></ion-icon>
                <span>레이아웃 설정</span>
            </a>
        </div>
    </li>
    <li cond="$grant->manager">
        <div class="app-sidebar-nav-item">
            <a
                href="{getUrl('','module','admin','act','dispMenuAdminSiteMap')}"
                onclick="window.open(this.href);return false;"
            >
                <ion-icon name="list-outline"></ion-icon>
                <span>사이트 메뉴 편집</span>
            </a>
        </div>
    </li>
    <li cond="$grant->manager">
        <div class="app-sidebar-nav-item">
            <a
                href="{getUrl('','module','admin','act','dispWidgetAdminGenerateCode', 'selected_widget', 'content')}"
                target="_blank"
                onclick="window.open(this.href);return false;"
            >
                <ion-icon name="code-slash-outline"></ion-icon>
                <span>위젯코드 생성</span>
            </a>
        </div>
    </li>
</ul>

<div cond="$grant->manager" class="app-sidebar__divider"></div>

<ul class="app-sidebar-nav">
    <block cond="$logged_info">
        <li>
            <div class="app-sidebar-nav-item">
                <a href="{getUrl('act', 'dispMemberInfo','member_srl','')}">
                    <ion-icon name="person-outline"></ion-icon>
                    <span>마이페이지</span>
                </a>
            </div>
        </li>
        <li>
            <div class="app-sidebar-nav-item">
                <a href="{getUrl('act', 'dispMemberScrappedDocument', 'page','')}">
                    <ion-icon name="bookmark-outline"></ion-icon>
                    <span>스크랩</span>
                </a>
            </div>
    
        </li>
        <li>
            <div class="app-sidebar-nav-item">
                <a href="{getUrl('act', 'dispMemberOwnDocument', 'page','')}">
                    <ion-icon name="document-text-outline"></ion-icon>
                    <span>작성글</span>
                </a>
            </div>
        </li>
      
        <li>
           <div class="app-sidebar-nav-item">
                <a href="{getUrl('act', 'dispMemberOwnComment ', 'page','')}">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                    <span>작성댓글</span>
                </a>
           </div>
        </li>
    </block>
  
    <li cond="$layoutConfig['color_scheme']">
        <div class="app-sidebar-nav-item">
            <a onClick="onClickDarkThemeToggle()">
                <ion-icon class="app-hidden--light" name="sunny-outline"></ion-icon>
                <ion-icon class="app-hidden--dark" name="moon-outline"></ion-icon>

                <span class="app-hidden--light">라이트 모드</span>
                <span class="app-hidden--dark">어두운 모드</span>
            </a>
        </div>
    </li>
</ul>

<div class="app-sidebar__divider"></div>