ul.app-sidebar-nav {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;

  & > li {
    margin-bottom: 0.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    & > .app-sidebar-nav-item {
      display: flex;
      align-items: center;
      transition: 0.2s ease;
    }

    & > .app-sidebar-nav-item > a {
      cursor: pointer;
      flex: 1;
      display: flex;
      align-items: center;
      padding: 0.25rem 0;

      color: $color-gray-700;
      color: var(--color-gray-700);
      font-size: 0.875rem;
      text-decoration: none;

      transition: color 0.2s ease;

      & > ion-icon {
        color: $color-gray-900;
        color: var(--color-gray-900);
        font-size: 1.25rem;
        margin-right: 0.875rem;
        --ionicon-stroke-width: 2.5rem;

        transition: color 0.2s ease;
      }
    }

    .app-sidebar-nav-more {
      cursor: pointer;
      flex: 0 0 auto;
      padding-left: 0.25rem;

      color: $color-gray-400;
      color: var(--color-gray-400);
      font-size: 0.875rem;
      --ionicon-stroke-width: 100px;
    }

    &.active > div > a {
      color: $color-primary;
      & > i,
        & > ion-icon {
          color: $color-primary;
          color: var(--color-primary);
        }
    }

    & > .app-sidebar-nav-item:hover {
      & > a {
        color: $color-primary;
        color: var(--color-primary);

        & > i,
        & > ion-icon {
          color: $color-primary;
          color: var(--color-primary);
        }
      }
    }
  }
}

.app-sidebar-nav-child {
  display: none;
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.75rem;

  &.active {
    display: block;
  }

  & > ul {
    list-style-type: none;
    width: 100%;
    padding: 0.5rem;
    background-color: $color-gray-100;
    background-color: var(--color-gray-100);
    border-radius: $border-radius-1;

    transition: background-color .2s ease;

    & > li {
      padding: 0.5rem;
      margin-bottom: 0.25rem;
      border-radius: $border-radius-1;
      transition: 0.2s ease;

      &:last-child {
        margin-bottom: 0;
      }

      & > a {
        flex: 1;
        display: flex;
        align-items: center;

        color: $color-gray-600;
        color: var(--color-gray-600);
        font-size: 0.875rem;
        text-decoration: none;

        & > i,
        & > ion-icon {
          color: $color-gray-500;
          color: var(--color-gray-500);
          font-size: 1rem;
          margin-right: 0.75rem;

          --ionicon-stroke-width: 3rem;
        }
      }

      &.active > a {
        color: $color-primary;
        & > i,
        & > ion-icon {
          color: $color-primary;
        }
      }
    }
  }
}