{@
    $header_url = getUrl('');

    if($layoutConfig['logo_url']):
        $header_url = $layoutConfig['logo_url'];
    endif;

    $header_logo_contrast = $layoutConfig['logo_img_contrast'] === 'Y' ? 'app-header-logo--contrast' : null
}

<a class="app-header-logo {$header_logo_contrast}" href="{$header_url}">
    <!--@if($layoutConfig['logo_img'])-->
        <!--@if($layoutConfig['logo_img_dark'])-->
            <!-- prettier-ignore -->
            <img class="app-hidden--light" src="{$layoutConfig['logo_img_dark']}" alt="{$layoutConfig['logo_text']}"|cond="$layoutConfig['logo_text']">
        <!--@endif-->
        
        <!-- prettier-ignore -->
        <img class="app-hidden--dark"|cond="$layoutConfig['logo_img_dark']" src="{$layoutConfig['logo_img']}" alt="{$layoutConfig['logo_text']}"|cond="$layoutConfig['logo_text']">
    <!--@else if($layoutConfig['logo_text'])-->
        {$layoutConfig['logo_text']}
    <!--@else-->
        <span>FLEX</span>
    <!--@endif-->
</a>
