<div class="app-tools app-tools-bottom">
  <a class="app-button app-sm" cond="$grant->manager" href="{getUrl('','module','document','act','dispDocumentManageDocument')}" onclick="popopen(this.href,'manageDocument'); return false;">
    <ion-icon name="checkmark-done-outline"></ion-icon>
    <span>{$lang->cmd_manage_document}</span>
  </a>

  <a class="app-button app-sm app-tooltip" title="{$lang->cmd_search}" onclick="toggleDialog('app-board-search')">
    <ion-icon name="search-outline"></ion-icon>
  </a>

  <div class="app-divider"></div>

  <a cond="$grant->write_document" href="{getUrl('act','dispBoardWrite','document_srl','')}" class="app-tools-write-button app-button app-primary app-sm">
    <ion-icon name="add-outline"></ion-icon>
    <span>{$lang->cmd_write}</span>
  </a>
</div>