<div class="app-board-header">
  <a class="app-board-header__back" href="{getUrl('', 'mid', $mid)}">
    <!-- <ion-icon name="chevron-back-outline"></ion-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </a>

  <div class="app-board-header__title app--left">새 게시물</div>

  <div class="app-board-header__icon-group">
    <button type="submit" onclick="return duplicateCheck(this)" class="app-button app-primary app-xs app-rounded">{$lang->cmd_registration}</button>
  </div>
</div>