<load target="../../plugins/jquery.minicolors.min.js" type="body" />
<load target="../../plugins/jquery.minicolors.css" />

<script>
  $(document).ready( function() {

    $('.app-colorpicker').each( function() {
      //
      // Dear reader, it's actually very easy to initialize MiniColors. For example:
      //
      //  $(selector).minicolors();
      //
      // The way I've done it below is just for the demo, so don't get confused
      // by it. Also, data- attributes aren't supported at this time...they're
      // only used for this demo.
      //
      $(this).minicolors({
        control: $(this).attr('data-control') || 'hue',
        defaultValue: $(this).attr('data-defaultValue') || '',
        format: $(this).attr('data-format') || 'hex',
        keywords: $(this).attr('data-keywords') || '',
        inline: $(this).attr('data-inline') === 'true',
        letterCase: $(this).attr('data-letterCase') || 'lowercase',
        opacity: $(this).attr('data-opacity'),
        position: $(this).attr('data-position') || 'bottom',
        swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
        change: function(value, opacity) {
          if( !value ) return;
          if( opacity ) value += ', ' + opacity;
          if( typeof console === 'object' ) {
            console.log(value);
          }
        },
        theme: 'bootstrap'
      });

    });

  });
</script>

<div class="app-write__head-group-item">
  <input type="text" name="title_color" id="title_color" class="app-colorpicker" data-control="hue" value="{$oDocument->get('title_color')}"|cond="$oDocument->get('title_color')!='N'" placeholder="제목색상" />
</div>