<load target="sns.scss" vars="$rxpFlexTheme->variables" />

  <div cond="$document_list || $notice_list">
    <ul class="app-board-list">
      {@ // 일반 }
      <li loop="$document_list=>$no,$document">
        {@
          $document_link = getUrl('document_srl', $document->document_srl, 'cpage','');
        }
        <article class="app-board-item">
          <div class="app-board-item__profile">
            <div class="app-board-item__profile-image">
              <!--@if($document->getProfileImage())-->
                <img src="{$document->getProfileImage()}" alt="{$document->getNickName()}" />
              <!--@else-->
                <ion-icon name="person-outline"></ion-icon>
              <!--@end-->
            </div>
            
            <div class="app-board-item__profile-body">
              <a href="#popup_menu_area" class="app-nickname member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a>
              <div class="app-regdate app-tooltip" title="{zdate($document->get('regdate'), 'Y-m-d H:i:s')}">{getTimeGap($document->get('regdate'), 'y.m.d')}</div>
            </div>
  
            <div cond="$grant->manager" class="app-board-item__checkbox">
              <input class="app-checkbox" type="checkbox" name="cart" value="{$document->document_srl}" id="{$document->document_srl}" title="Check This Article" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" />
              <label for="{$document->document_srl}"></label>
            </div>
          </div>
  
          <div class="app-board-item__head">
            <div class="app-category" cond="$document->get('category_srl')" style="color:{$category_list[$document->get('category_srl')]->color}"|cond="$category_list[$document->get('category_srl')]->color!='transparent'">{$category_list[$document->get('category_srl')]->title}</div>
  
            <div class="app-title">
              <a class="app-title__text" data-active="{$document_srl == $document->document_srl}" href="{$document_link}">{$document->getTitle($module_info->list_title_limit)}</a>
            </div>
          </div>
  
          <a href="{$document_link}" class="app-board-item__content">
            {nl2br($document->getSummary(200))}
          </a>
  
          <!--@if($list_config['thumbnail'] && $document->thumbnailExists())-->
          <include target="sns-thumbnail.html" />
          <!--@endif-->
  
          <div class="app-board-item__icons">
            <a class="app-board-item__icons-item">
              <div class="app-icon app-like app-tooltip" title="좋아요">
                <ion-icon name="heart-outline"></ion-icon>
              </div>
  
              <span cond="$document->get('voted_count') > 0">{$document->get('voted_count')}</span>
            </a>
            
            <a href="{$document_link}#comment" class="app-board-item__icons-item">
              <div class="app-icon app-tooltip" title="댓글">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </div>
  
              <span cond="$document->get('comment_count') > 0">{$document->get('comment_count')}</span>
            </a>
          </div>
  
          <div class="app-board-item__meta">
            <span class="app-board-item__meta-item">좋아요 {$document->get('voted_count') != 0 ? $document->get('voted_count') : '0'}</span>
            
            <!--@if($list_config['readed_count'])-->
            <span> · </span>
            <span class="app-board-item__meta-item">조회수 {$document->get('readed_count')}</span>
            <!--@end-->
  
            <span> · </span>
            <span class="app-board-item__meta-item">댓글 {$document->get('comment_count')}</span>
          </div>
        </article>
      </li>
    </ul>
  </div>