.app-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;

  border-top: 1px solid $color-gray-200;
  border-top: 1px solid var(--color-gray-200);

  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  .color_scheme_dark & {
    border-top: 1px solid $color-gray-100;
    border-top: 1px solid var(--color-gray-100);
  }

  @media (max-width: $mobile-w) {
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    padding-bottom: calc(2rem + env(safe-area-inset-bottom));
  }

  .app-footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & > li {
      display: inline-block;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;

      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 8px;
        margin: 0 0.25rem;
        border-right: 1px solid $color-gray-400;
        border-right: 1px solid var(--color-gray-400);
      }

      &:last-child::after {
        content: none;
      }

      & > a {
        color: $color-gray-600;
        color: var(--color-gray-600);
        font-size: 0.75rem;
        text-decoration: none;
      }
    }
  }

  .app-footer-copyright {
    color: $color-gray-500;
    color: var(--color-gray-500);
    font-size: 0.75rem;
  }
}
